extends layout/main


block content 
    main.container    
        h1 Galeria de arte  
        form(action="/filtrar" method="GET")
            div
                label(for="department") Departamento:
                select(name="department")
                    option(value="") Todos los departamentos
                    if departments && departments.length > 0
                        each department in departments
                            option(value=department.departmentId)= department.displayName
            div
                label(for="keyword") Palabra Clave:
                input(type="text" name="keyword")

            div
                label(for="location") Localización:
                input(type="text" name="location")

            button(type="submit") Filtrar
        block content
        
         .grid 
          
           if finalObject && finalObject.length> 0 
            each object in finalObject
                .card
                    if object.img              
                        img.image(src=object.img, alt=object.title)
                    else
                        img.image(src="/img/errorImg.webp", alt=object.title)
                    p.card-text.none.date #{object.fecha} 
                    h2.card-title= object.title
                    p.card-text Cultura: #{object.culture}
                    p.card-text Dinastía: #{object.dynasty}
                    if object.moreImg && object.moreImg.length> 0
                        a(href=`/moreImg/${object.id}`) Más imágenes
           else
            h2  No hay resultados       
        nav
                   
            if page > 1
                a(href=`/?page=${page - 1}&limit=${limit}`) Anterior
            a(href=`/?page=${page + 1}&limit=${limit}`) Siguiente